<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/cartoes/lista">ByteCard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/cartoes/lista">Cartões</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/compras/formulario">Compras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/relatorios/gastos-por-categoria">Relatório de gastos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="mt-3">
    {% block titulo %}{% endblock %}

    <section class="container">
		{% with infos = get_flashed_messages(category_filter=["info"]) %}
		{% if infos %}
		<ul class="list-unstyled alert alert-success">
			{% for msg in infos %}
			<li>{{ msg }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% with erros = get_flashed_messages(category_filter=["error"])
		%}
		{% if erros %}
		<ul class="list-unstyled alert alert-danger">
			{% for msg in erros %}
			<li>{{ msg }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% if form and form.errors %}
		<ul class="alert alert-danger ps-5">
			{% for campo, erros in form.errors.items() %}
			{% for msg in erros %}
			<li>{{ msg }}</li>
			{% endfor %}
			{% endfor %}
		</ul>
		{% endif %}
    </section>
    {% block conteudo %}{% endblock %}
</main>
</body>
</html>
    
